@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 220 220 220;
		--color-secondary: 0 0 0;
		--color-gray: 200 200 200;
		--color-blue: 0 125 255;
		--color-purple: 200 0 200;
		--color-red: 200 0 0;
	}

	.dark {
		--color-primary: 0 0 0;
		--color-secondary: 220 220 220;
		--color-gray: 50 50 50;
		--color-blue: 0 75 255;
		--color-purple: 125 0 125;
		--color-red: 255 0 0;
	}
}

body {
	color: rgb(var(--color-secondary));
	background-color: rgb(var(--color-primary));
}

.bg-empty:after {
	content: '?';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	border-radius: 50%;
	padding: 0.15rem 0.55rem 0.1rem 0.55rem;
	border: 2px solid;
}

.modal-close-btn:after {
	content: 'X';
	font-weight: bold;
	text-align: center;
	font-size: 0.9rem;
	border-radius: 50%;
	padding: 0.05rem 0.3rem 0.03rem 0.25rem;
	border: 2px solid;
}

.translate-right:hover > .translated-child {
	transform: translateX(40px);
}

.translate-left:hover > .translated-child {
	transform: translateX(-40px);
}
